<a class="btn btn-primary btn-lg" href="#" role="button">Sources</a>

<div id="generalNews" class="card collapse">
  <div class="card-header">
    <em>Featured</em>
  </div>
  <div class="card-body">
    <h3 class="card-title">General News Sources</h3>
    <p class="card-text">Choose prefered news source</p>
    {{macro.displaySourceList(general)}}
  </div>
</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
