<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Highlights website </title>
        {% endif %}
    </head>
    <body>
      <!-- At most basic should display news sources list  -->
      <h1>Hi! I am {{test_param}}</h1>
      <!-- Popular movie section  -->
       <h3> General News Sources</h3>
        <ul>
           {% for source in general %}
               <li>{{ source.name}}</li>
           {% endfor %}
       </ul>
       <h3> Business News Sources</h3>
        <ul>
           {% for source in business %}
               <li>{{ source.name}}</li>
           {% endfor %}
       </ul>
       <h3> Sports News Sources</h3>
        <ul>
           {% for source in sports %}
               <li>{{ source.name}}</li>
           {% endfor %}
       </ul>
       <h3> Entertainment News Sources</h3>
        <ul>
           {% for source in entertainment %}
               <li>{{ source.name}}</li>
           {% endfor %}
       </ul>
    </body>
</html>
