{% import 'macros.html' as macro %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary mb-5">
  <a class="navbar-brand" href="/">News Source!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Bootstrap4</a>
          <a class="dropdown-item" href="#">Kinda</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Working :)</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Yeup!</a>
      </li>
    </ul>
  </div>
</nav>
